footer{
    background-color: forestgreen;
    color: white;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 350px;
}

#footer{
    margin: 30px 30px 0 0px;
    display: flex;
}

/* Titre motivation, Contact,social */
h2, h1{
    margin-left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
}

h2{
    width: 160px;
}

h2:hover{
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        width: 0px;
    }
    25%{
        width: 30px;
    }
    50%{
        width: 80px;
    }
    100%{
        width: 160px;
    }
}

h1{
    font-size: large;
    width: 150px;
}

h1:hover{
    animation: animate1 1s linear forwards;
}

@keyframes animate1{
    0%{
        width: 0px;
    }
    25%{
        width: 50px;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 150px;
    }
}

.case{
    width: 30%;
    padding: 10px;
    margin-left: 30px;
}

.image,h4{
    display: inline;
}

#design p{
    font-size: x-small;
}

/* boutton footer */

.boutton{
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;
    font-size: x-small;
    font-weight: bold;
    margin-left: 30px;
    position: absolute;
    bottom: 70px;
}

.boutton:hover{
    background-color: white;
    color: forestgreen;
}

.image, h4{
    display: inline;
}

.image{
    transform: scale(0.5);
    position: relative;
    top: 11px;
    background-color: forestgreen;
}

h4{
    font-size: x-small;
    font-weight: normal;
}

#contact{
    width: 300px;
}

.contact{
    height: 25px;
    width: 200px;
    position: relative;
    bottom: 30px;
}

.image2{
    transform: scale(0.6);
}


.image1,h5{
    display: inline;
}

h5{
    position: relative;
    left: 10px;
    bottom: 10px;
}

.social{
    margin-left: 25px;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 220px;
    height: 30px;
    margin-top: 25px;
}

ul::before{
    content: 'Partager';
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    background: linear-gradient(45deg, #22c214, #78aa7a);
    width: 260px;
    height: 62px;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    font-size: xx-small;
    letter-spacing: 1px;
    margin: 0 2px 0 -4px;
    transition: 0.5s;
}

ul:hover::before{
    width: 60px;
}

ul li{
    position: absolute;
    list-style: none;
    transition: 1s;
}

ul li a{
    display: block;
    list-style: 60px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    margin: 0 2px;
    font-size: 30px;
    border-radius: 40px;
    transition: 1s;
}

ul:hover li:nth-child(1) a{
    transform: translateX(44px) rotate(360deg);
}
ul:hover li:nth-child(2) a{
    transform: translateX(88px) rotate(360deg);
}

ul:hover li:nth-child(3) a{
    transform: translateX(132px) rotate(360deg);
}

ul:hover li:nth-child(4) a{
    transform: translateX(176px) rotate(360deg);
}

ul:hover li:nth-child(5) a{
    transform: translateX(220px) rotate(360deg);
}

#scrolldown{
    width: 100%;
}

.scrolldown{
    position: absolute;
    left: 48%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50px) rotate(45deg);
}

.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid forestgreen;
    border-right: 2px solid forestgreen;
    animation: anim 1s linear infinite;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px, -15px);
    transition-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0,0);
    transition-delay: -0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(-15px, -15px);
    transition-delay: 0s;
}

@keyframes anim{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;

    }

}
