footer{
    display: flex;
    margin-top: 5em;
    margin-bottom: 3em;
}
#case1{
    width: 30%;
    text-align: justify;
    padding: 2em;
}
#case2{
    padding: 2em;
    width: 30%;
}
#case3{
    padding: 2em;
    width: 30%;
}