html, body{
    background: #270F34; 
    height: 100%; 
    align-items: center; 
    justify-content: center;
    contain: content;
    overflow: clip;
    color: wheat;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
    font-weight: normal;
}

footer{
    display: flex;
    position: absolute;
    bottom: -50px;
}

.case{
    margin-left: 20px;
    height: 300px;
    background-color: transparent;
    padding: 40px 20px;
    z-index: 1;
}

#case3{
    width: 250px;
}

#case2{
    width: 500px;
}

#case1{
    width: 400px;
}




/* background */
.ocean { 
  height: 300px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* Boutton */

#case1 ul{
    width: 185px;
    height: 60px;
}

#case1 ul:before{
    content: '\f1e0';
    font-family: fontAwesome;
    position: absolute;
    width: 185px;
    height: 50px;
    background: linear-gradient(45deg, #662688, #270F34);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    margin: 0 2px;
    transition: 0.5s;
    z-index: 1;
}

#case1 ul:hover:before{
    width: 60px;
}


#case1 ul li{
    position: absolute;
    list-style: none;
    transition: 1s;
    
}

#case1 ul li a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #26262626;
    color:  wheat;
    border-radius: 50%;
    font-size: 30px;
    transition: 1s;
}

#case1 ul li:nth-child(1){
    background: transparent;
}

#case1 ul li:nth-child(2){
    background: transparent;
}

#case1 ul li:nth-child(3){
    background: transparent;
}

#case1 ul:hover li:nth-child(1) a{
    transform: translateX(65px) rotate(360deg);
}

#case1 ul:hover li:nth-child(2) a{
    transform: translateX(125px) rotate(360deg);
}

#case1 ul:hover li:nth-child(3) a{
    transform: translateX(185px) rotate(360deg);
}



/*case1*/
p{
    font-weight: bold;
    font-size: 15px;
    color:  wheat;
}

#case1 ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-left: 30px;
}

#case1 ul{
    margin: 20px 0 0 0px;
}




/* case2 */
#case2 ul li a{
    display: block;
    text-decoration: none;
    color: wheat;
    font-size: x-small;
}

#case2 ul li a,i{
    display: block;
}

#case2 ul li a:hover{
    text-decoration: underline;
}

#case2 ul li{
    list-style: none;
    position: relative;
    top: 10px;
}

#case2 ul li i{
    position: relative;
    left: 80px;
    transform: scale(1.2);
}

#contact2{
    margin-left: 50px;
}

#contact3{
    margin-left: 100px;
}

.lien_contact{
    margin-top: 10px;
}

h1{
    margin-left: 20px;
    width: 200px;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 1px;
    border-bottom: 3px solid  #270F34;
}



/* case3 */
input{
    width: 200px;
    height: 50px;
    background: transparent;
    border-bottom: 2px solid wheat;
    border-top: none;
    border-left: none;
    border-right: none;
}

button{
    margin: 40px 0 0 40px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-bottom: 0;
    color: wheat;
    background: linear-gradient(45deg, #662688, #270F34);
}

button:hover{
    color: wheat;
    background: linear-gradient(45deg, #662688, #270F34);
    border: 3px solid #2e0046;
    transition: 1s;
}

